body {
  background-color: rgb(144, 204, 240);
  cursor: pointer;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 50px;
  padding: 20px 50px;
}
.weather {
  margin-top: 50px;
  text-align: center;
  padding-right: 50px;
}

video {
  position: absolute;
  right: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -430px;
  border-radius: 5px;
  width: 800px;
}

#location {
  padding: 50px 10px;
  margin: 0px;
  text-align: left;
}
.submitBtn {
  width: 70px;
  padding: 5px;
  background-color: rgb(26, 163, 218);
  border-radius: 5px;
  box-shadow: 2px 1px rgb(193, 216, 230);
  border: none;
  color: blanchedalmond;
}
.submitBtn:hover {
  background-color: rgb(193, 216, 230);
  color: rgb(26, 163, 218);
  transition: all 200ms ease-in-out;
}
h1 {
  margin-bottom: 0px;
  padding: 0px;
  font-size: 30px;
}
h2 {
  font-size: 50px;
  margin: 0px;
  padding: 0;
  color: brown;
}
h3 {
  font-weight: 500px;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
.degreeunit {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -25px;
  color: black;
  margin-left: -14px;

  padding: 0 auto;
}
#celsuisdeg {
  text-decoration: none;
  color: black;
  margin-left: 0;
}
#fahrenheitdeg {
  text-decoration: none;
  color: black;
}
.detail {
  padding: 50px 0px;
  font: size 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500px;
  color: brown;
  text-align: left;
}
#image {
  width: 100px;
  height: 90px;
  padding: 0;
  display: block;
  margin: 0 auto;
}
#description {
  text-align: center;
  padding: 0;
  margin: 0;
}
#git {
  display: block;
  margin: 0 auto;
  text-align: center;
  font: size 14px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 30px;
}
